<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
    <li><%= item.title  %> | $<%= item.price.to_f/100 %></li><%= button_to 'Add to Cart', line_items_path(item_id: item) %>
<% end %>
</ul>